@if variable-exists(include-components) and index($include-components, 'Ripple') {
  // Ripple animation
  @keyframes ripple {
    0% {
      opacity: 0.3;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

  .ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    opacity: 0.3;
    transform: scale(0);
    pointer-events: none;
  }

  .ripple--is-animated {
    animation: ripple 0.65s linear;
  }
}
