{
  "extends": "rallycoding",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "no-nested-ternary": "off"
  }
}