language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 'stable'
sudo: false
before_script:
  - npm prune
script:
  - npm run test:single
  - npm run build
after_success:
  - npm run semantic-release
branches:
  only:
    - master
