@if index($include-components, 'Menu') {
  .menu {
    @include bare-list();
    padding: $base-spacing-unit 0;

    .menuItem {
      position: relative;
      @include font-size(14px);
      white-space: nowrap;
      color: inherit;
      padding: 0 $base-spacing-unit * 4 0 $base-spacing-unit * 2;
      cursor: default;
      height: 32px;
      line-height: 32px;

      &.hoverable:hover {
        background-color: $black-4;
        cursor: pointer;
      }

      &.is-header {
        color: $black-3;
      }

      &.is-divider {
        border-top: 1px solid $black-4;
        padding: 0;
        height: 1px;
        margin: $base-spacing-unit 0;
      }
    }
  }
}