@if variable-exists(include-components) and index($include-components, 'Drawer') {
  $ease-out: map-get($easing, deceleration);
  $ease-sharp: map-get($easing, sharp);

  .drawer {
    bottom: 0;
    position: fixed;
    top: 0;
    transform: translateX(-110%);
    transition: transform 0.25s $ease-out;

    &.open {
      transform: translateX(0);
      transition: transform 0.25s $ease-sharp;
    }

    > * {
      height: 100%;
      overflow-y: auto;
    }
  }
}
