@if variable-exists(include-components) and index($include-components, 'AppBar') {
  .app-bar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .app-bar-container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      min-height: 64px;
    }

    .left-content,
    .right-content,
    .center-content,
    .title {
      padding: $base-spacing-unit $base-spacing-unit * 2;
    }

    .center-content {
      flex: 2;
    }

    .title {
      @include typography('title');
    }
  }
}
