@if index($include-components, 'DataTable') {
  .data-table-container {
    position: relative;

    .data-table {
      width: 100%;
      margin: 0;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;

      thead th {
        border-bottom: 1px solid $grey-300;
      }

      tfoot th {
        border-top: 1px solid $grey-300;
      }

      th, td {
        padding-right: 56px;
        vertical-align: middle;
        white-space: nowrap;

        &:first-child {
          width: 72px;
          padding-left: $base-spacing-unit * 3;
          padding-right: $base-spacing-unit * 3;
        }

        &:last-child {
          padding-right: $base-spacing-unit * 3;
        }

        svg {
          @include size(24px);
          display: block;
          fill: $black-2;
          cursor: pointer;
        }
      }

      th {
        height: 56px;
        @include font-size(12px);
        font-weight: 400;
        color: $black-2;
        text-align: left;
        text-transform: capitalize;
      }

      td {
        height: 48px;
        @include font-size(13px);
        padding-top: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
      }

      td {
        border-bottom: 1px solid $grey-300;
      }

      tr:last-child td {
        border-bottom: none;
      }

      .selectable-row {
        th, td {
          &:first-child {
            width: $size-xs + $base-spacing-unit * 6;
          }

          &:nth-child(2) {
            padding-right: $base-spacing-unit * 3;
          }
        }

        &:not(.is-selected):not(.is-disabled):hover {
          td {
            background-color: $grey-200;
          }
        }
      }

      th.is-sortable {
        cursor: pointer;

        svg {
          display: inline;
          @include size(13px);
          margin-right: $base-spacing-unit / 2;
        }

        &:hover {
          color: $black-1;
        }
      }

      th.is-sortable-active {
        color: $black-1;
      }

      .is-selected {
        td {
          background-color: $grey-100;
        }
      }

      @each $key, $color in $colors {
        @if index($include-table-checkbox-colors, $key)
          or index($include-table-checkbox-colors, 'all') {
          .is-selected.is-selected-#{$key},
          .is-all-selected.is-all-selected-#{$key} {
            svg {
              fill: $color;
            }
          }
        }
      }

      .is-disabled {
        td {
          cursor: not-allowed;
        }
      }

      .checkbox-is-disabled {
        svg {
          cursor: not-allowed;
          fill: $grey-300;
        }
      }

      .no-data-message {
        padding-top: $base-spacing-unit * 4;
        padding-right: $base-spacing-unit * 2;
        padding-bottom: $base-spacing-unit * 4;
        padding-left: $base-spacing-unit * 2;
        @include typography(headline);
        text-align: center;

        &.header-top div {
          top: 56px;
        }

        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding-top: $base-spacing-unit * 4;
          padding-right: $base-spacing-unit * 2;
          padding-left: $base-spacing-unit * 2;
        }
      }
    }
  }
}
