@if index($include-components, 'DataTable') {
  .data-table-container {
    position: relative;
    width: 100%;

    .data-table-header {
      position: relative;
      z-index: 2;
    }

    .data-table-header,
    .data-table-body-row {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid $grey-300;
    }

    .data-table-header.bottom {
      border-top: 1px solid $grey-300;
      border-bottom: none;
    }

    .data-table-header.scrollable {
      @include z-depth(2);
      border: none;
    }

    .data-table-body {
      position: relative;
      z-index: 0;
      
      &.scrollable {
        overflow: auto;
      }
    }

    .data-table-body-row {
      &:last-child {
        border-bottom: none;
      }

      &:not(.is-selected):not(.is-disabled):hover {
        background-color: $grey-200;
      }

      &.is-selected {
        background-color: $grey-100;
      }

      &.is-disabled {
        cursor: not-allowed;

        svg {
          cursor: not-allowed;
          fill: $grey-300;
        }
      }

      &:not(.is-disabled).is-clickable {
        cursor: pointer;
      }
    }

    .data-table-header-cell,
    .data-table-body-cell {
      flex: 1;
      padding-right: 56px;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        padding-left: $base-spacing-unit * 3;
      }

      &:last-child {
        padding-right: $base-spacing-unit * 3;
      }
    }

    .data-table-header-cell {
      display: flex;
      align-items: center;
      height: 56px;
      @include font-size(12px);
      font-weight: 400;
      color: $black-2;


      &.is-sortable {
        cursor: pointer;

        svg {
          display: inline;
          @include size(13px);
          margin-right: $base-spacing-unit / 2;
        }

        &:hover {
          color: $black-1;
        }
      }

      &.is-sortable-active {
        color: $black-1;
      }
    }
      
    .data-table-body-cell {
      display: flex;
      align-items: center;
      height: 48px;
      @include font-size(13px);
    }

    .data-table-header-cell-icon,
    .data-table-body-cell-icon {
      display: flex;
      align-items: center;
      flex: none;
      width: 72px;
      text-align: left;
      padding-left: $base-spacing-unit * 3;
      padding-right: $base-spacing-unit * 3;

      svg {
        @include size(24px);
      }

      &:not(.is-disabled) svg {
        fill: $black-2;
        cursor: pointer;
      }

      &.is-disabled svg {
        cursor: not-allowed;
        fill: $grey-300;
      }
    }

    .data-table-header-cell-icon {
      height: 56px;
    }

    .data-table-body-cell-icon {
      height: 48px;
    }

    @each $key, $color in $colors {
      @if index($include-table-checkbox-colors, $key)
        or index($include-table-checkbox-colors, 'all') {
        .is-selected.is-selected-#{$key} {
          svg {
            fill: $color;
          }
        }
      }
    }
  }

  .no-data-message {
    padding: $base-spacing-unit * 4 $base-spacing-unit * 2;
    @include typography(headline);
    text-align: center;
  }
}
