// Includes
@import '../src/variables';

// Include Open-Sans font-face
$include-font-face: true;

// z-depth classes
// (
//   1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
//   11, 12, 13, 14, 15, 16, 17, 18,
//   19, 20, 21, 22, 23, 24
// )
$include-depths: (
  1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
  11, 12, 13, 14, 15, 16, 17, 18,
  19, 20, 21, 22, 23, 24
);

// Background colors
// $include-backgound-colors: ('all');
$include-backgound-colors: ('primary', 'white', 'pink');

// Buttons: reset
$include-btns: true;

// Buttons: disabled states
// $include-btns-disabled: (
//   'raised',
//   'fab',
//   'flat',
//   'icon'
// );

// Buttons: types
$include-btns-types: (
  'raised',
  'flat',
  'icon',
  'fab'
);

// Buttons: sizes
$include-btns-sizes: (
  //'xs',
  //'s',
  'm',
  'l',
  'xl'
);

// Buttons: colors
// $include-btns-raised-colors: ('all');
// $include-btns-flat-colors: ('all');
// $include-btns-icon-colors: ('all');
// $include-btns-fab-colors: ('all');
$include-btns-raised-colors: ('primary');
$include-btns-flat-colors: ('primary', 'accent');
$include-btns-icon-colors: ('primary', 'accent', 'black', 'white', 'pink');
$include-btns-fab-colors: ('accent', 'teal');

$include-components: (
  'AppBar',
  'Card',
  'DataTable',
  'Drawer',
  'DropDown',
  'Menu',
  'Paper',
  'Ripple',
  'TextField'
);

// TextField: colors
$include-text-field-colors: ('primary', 'indigo', 'red', 'green', 'orange');

// Table: checkbox colors
$include-table-checkbox-colors: ('accent');

@import '../src/index';

.data-table-super-header {
  display: flex;
  align-items: center;
  padding: $base-spacing-unit * 2 $base-spacing-unit * 4;
  border-bottom: 1px solid $grey-300;
  @include typography(headline);

  .right {
    margin-left: auto;
  }
}
