// Includes

// Include Open-Sans font-face
$include-font-face: true;

// z-depth classes
$include-depths: (1, 2); // (1, 2, 3, 4, 5)

// Background colors
// $include-backgound-colors: ('all');
$include-backgound-colors: ('primary', 'white', 'pink');

// Buttons: reset
$include-btns: true;

// Buttons: disabled states
// $include-btns-disabled: (
//   'raised',
//   'fab',
//   'flat',
//   'icon'
// );

// Buttons: types
$include-btns-types: (
  'raised',
  'flat',
  'icon',
  'fab'
);

// Buttons: sizes
$include-btns-sizes: (
  //'xs',
  //'s',
  'm',
  'l',
  //'xl'
);

// Buttons: colors
// $include-btns-raised-colors: ('all');
// $include-btns-flat-colors: ('all');
// $include-btns-icon-colors: ('all');
// $include-btns-fab-colors: ('all');
$include-btns-raised-colors: ('primary');
$include-btns-flat-colors: ('primary');
$include-btns-icon-colors: ( 'white', 'pink');
$include-btns-fab-colors: ('teal');

@import '../src/index.scss';