@if variable-exists(include-components) and index($include-components, 'Overlay') {
  .overlay {
    background-color: $black-2;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
  }
}
