//|*------------------------------------*|
//    #VARIABLES
//|*------------------------------------*|

// Easing curves
$easing: (
  'standard': cubic-bezier(0.4, 0, 0.2, 1),
  'deceleration': cubic-bezier(0, 0, 0.2, 1),
  'acceleration': cubic-bezier(0.4, 0, 1, 1),
  'sharp': cubic-bezier(0.4, 0, 0.6, 1)
);

$colors: (
  'red': $red,
  'pink': $pink,
  'purple': $purple,
  'deep-purple': $deep-purple,
  'indigo': $indigo,
  'blue': $blue,
  'light-blue': $light-blue,
  'cyan' : $cyan,
  'teal': $teal, 
  'green': $green, 
  'light-green': $light-green,
  'lime': $lime,
  'yellow': $yellow,
  'amber': $amber,
  'orange': $orange,
  'deep-orange': $deep-orange,
  'brown': $brown,
  'grey': $grey,
  'blue-grey': $blue-grey,
  'black': $black,
  'white': $white,
  'primary': $primary,
  'primary-dark': $primary-dark,
  'accent': $accent
);

$sizes: (
  'xs': $size-xs,
  's': $size-s,
  'm': $size-m,
  'l': $size-l,
  'xl': $size-xl
);
