//|*------------------------------------*|
//    #MIXINS
//|*------------------------------------*|

// font-size
@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

// size
@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  @if $height == auto or type-of($height) == number {
    @if unitless($height){
      height: ($height) + px;
    } @else {
      height: $height;
    }
  }

  @if $width == auto or type-of($width) == number  {
    @if unitless($width){
      width: ($width) + px;
    } @else {
      width: $width;
    }
  }
}

// Text field reset
@mixin text-field-reset() {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  cursor: text;
  appearance: none;

  &:focus {
    outline: none;
  }
}

// Typography mixin
@mixin typography($type) {
  @if $type == 'caption' {
    @include font-size(12px);
    font-weight: 400;
    line-height: 20px;
  }

  @if $type == 'body-1' or $type == 'body-2' {
    @include media-query(portable) {
      @include font-size(14px);
    }

    @include media-query(desk) {
      @include font-size(13px);
    }
  }

  @if $type == 'body-1' {
    font-weight: 400;
    line-height: 20px;
  }

  @if $type == 'body-2' {
    font-weight: 600;
    line-height: 24px;
  }

  @if $type == 'subhead' {
    font-weight: 400;
    line-height: 24px;

    @include media-query(portable) {
      @include font-size(16px);
    }

    @include media-query(desk) {
      @include font-size(15px);
    }
  }

  @if $type == 'title' {
    @include font-size(20px);
    font-weight: 600;
    line-height: 28px;
  }

  @if $type == 'headline' {
    @include font-size(24px);
    font-weight: 400;
    line-height: 32px;
  }

  @if $type == 'display-1' {
    @include font-size(34px);
    font-weight: 400;
    line-height: 40px;
  }

  @if $type == 'display-2' {
    @include font-size(45px);
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -1px;
  }

  @if $type == 'display-3' {
    @include font-size(56px);
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2px;
  }

  @if $type == 'display-4' {
    @include font-size(112px);
    font-weight: 300;
    line-height: 128px;
    letter-spacing: -5px;
  }
}

// Paragraph mixin
@mixin paragraph() {
  h1, h2, h3, h4, h5, h6,
  ul, ol, dl,
  blockquote, p, address,
  table,
  fieldset, figure,
  pre,
  hr,
  iframe {
    margin-bottom: $base-spacing-unit * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol, dd {
    margin-left: $base-spacing-unit * 6;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// The bare-list object simply removes any indents and bullet points from lists
@mixin bare-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
