@if variable-exists(include-components) and index($include-components, 'Paper') {
  .paper {
    display: inline-block;
    @include typography(body-1);

    &.paper-circle {
      border-radius: 50%;
    }

    &.paper-round {
      border-radius: $base-round;
    }
  }
}